@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";


@plugin "daisyui" {
  themes: light --default, dark;
}

/* Thin (100) */
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight (200) */
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Light (300) */
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Regular (400) */
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium (500) */
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold (600) */
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold (700) */
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold (800) */
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Black (900) */
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RisingSun";
  src: url("../Fonts/RisingSun/RisingSun-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* Literature Decor */
@font-face {
  font-family: "LiteratureDecor";
  src: url("../Fonts/Literature-Decor.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-font: 'LiteratureDecor', sans-serif;
  --text-font: 'RisingSun', sans-serif;
}

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--text-font), sans-serif;
  margin: 0;
  padding: 0;
}
